{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Wedding{% endblock %}</title>
        <link rel="shortcut icon" href="{%  static 'wedding/favicon.ico' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'wedding/styles.css' %}" rel="stylesheet">
        <link href="{% static 'wedding/one-page-wonder.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'libs/fullcalendar/main.min.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Wedding Planner</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if user.is_authenticated %}
                  {% if  user.is_cooker or user.is_wedding_planner %}
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'profile_settings' %}">Settings</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{%url 'profile_contacts' %}">Contacts</a>
                    </li>
                  {% else %}
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'tasks' %}">Tasks</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'calendar' %}">Calendar</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'board' %}">Board</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'search' %}">Search</a>
                    </li>
                  {% endif %}
                {% endif %}
              </ul>
              <form class="form-inline my-2 my-lg-0">
                {% if user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a  id="navbarDropdownMenuLink" 
                        class="nav-link dropdown-toggle" 
                        href="#" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                        <strong>{{ user.username }}</strong>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                    </div>
                </div>
                {% else %}
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{% url 'select_user_type' %}">Register</a>
                    </div>
                {% endif %}
              </form>
            </div>
          </nav>
        {% block body %}
        {% endblock %}

        <!-- Footer -->
        <footer class="py-5 bg-black sticky-footer">
          <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2020</p>
          </div>
          <!-- /.container -->
        </footer>

        <!-- Scripts -->
        <script src="{% static 'wedding/calendar.js'%}"></script>
        <script src="{% static 'wedding/pieChart.js'%}"></script>
        <script src="{% static 'wedding/index.js'%}"></script>
        <script src="{% static 'wedding/locations.js'%}"></script>
        
        <!-- Scripts tags -->
        <script src="{% static 'libs/fullcalendar/main.min.js'%}"></script>
        <script src="{% static 'libs/fullcalendar/locales-all.min.js'%}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfJtOyOmSHAWumqv4rsbVmSRn-gqlr14c&libraries=places&callback=initAutocomplete" async defer></script> 
    </body>
</html>