{% extends "wedding/layout.html" %}

{% block body %}
<div class="container">
    <div class="clearfix border-bottom mt-4 mb-2 pb-2">
        <h4 class="float-left">Tasks</h4>

        <button type="button" class="btn btn-light float-right" data-toggle="modal" data-target="#addTasks">
            <i class="far fa-calendar-plus"></i>
        </button>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card border-light mb-3">
                <div class="card-header">Card title</div>
                <div class="card-body">
                    <h5 class="card-title">25$</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="float-right">
                        <i class="far fa-edit"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-light mb-3">
                <div class="card-header">Card title</div>
                <div class="card-body">
                    <h5 class="card-title">225$</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="float-right">
                        <i class="far fa-edit"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-light mb-3">
                <div class="card-header">Card title</div>
                <div class="card-body">
                    <h5 class="card-title">336$</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="float-right">
                        <i class="far fa-edit"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-light mb-3">
                <div class="card-header">Card title</div>
                <div class="card-body">
                    <h5 class="card-title">650$</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer bg-transparent">
                    <div class="float-right">
                        <i class="far fa-edit"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade"
    id="addTasks" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="Tasks"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}